[submodule "fugitive"]
	path = fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "cmdalias"]
	path = cmdalias
	url = https://github.com/vim-scripts/cmdalias.vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
